@model AllLayoutModel
@{
    ViewData["Title"] = "List";
    Layout = Model.Layout;
}

<section class="bg0 p-t-23 p-b-140">
    <div class="container">
        <header class="page-header">
            <input type="text" id="txtsearch" placeholder="Müşteri Giriniz" />
        </header>
        <hr />
        <table class="table table-bordered">
            <tr>
                <td>Varyantlar</td>
                <td></td>
            </tr>
            @foreach (var customer in Model.Listattributes)
            {
                <tr class="Search">
                    <td>@customer.name</td>

                    <td style="text-align:right">
                        <a href="/Varyant/VaryantValues/@customer.id" name="id" class="btn-sm btn-success" style="margin-right:6px !important;" title="Fişler">Değerleri</a>
                        <a href="/Varyant/AddValue/@customer.id" name="id" class="btn-sm btn-info" style="margin-right:6px !important;" title="Fişler">Değer Ekle</a>
                        @*   <a href="/Customer/Update/@CommondMethod.ConvertToEncrypt(@customer.id.ToString())" name="id" class="btn-warning btn-sm" style="margin-right:6px !important;" title="Edit">Güncelle</a>
                    <a href="/Check/CheckGive/@CommondMethod.ConvertToEncrypt(@customer.id.ToString())" name="id" class="btn-danger btn-sm" style="margin-right:6px !important;" title="Çek">Çek Ver</a>
                    <a href="/Check/CheckOfCustomer/@CommondMethod.ConvertToEncrypt(@customer.id.ToString())" name="id" class="btn-Secondary btn-sm" style="margin-right:6px !important;" title="Çek">Çekler</a>*@
                    </td>
                </tr>
            }
        </table>
    </div>

</section>

